/* Home.css */
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-color: #f9f9f9; /* Optional: Background color */
  }
  
  .home-heading {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
  }
  
  .home-paragraph {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #555;
  }
  
  .home-button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; /* Ensure it's styled as a button */
  }
  
  .home-button:hover {
    background-color: #0056b3;
  }
  